{{ $gallery := partial "get-album-gallery-card.html" . }}
{{ $album := . }}

{{ with $gallery }}
  <a class="card" href="{{ $album.RelPermalink }}" title="{{ $album.Title }}">
    <figure style="background-color: {{ .color }}">
      <img class="lazyload" width="{{ .thumbnail.Width }}" height="{{ .thumbnail.Height }}" data-src="{{ .thumbnail.RelPermalink }}" alt="{{ .page.Title }}" />
    </figure>
    <div>
      <h2>{{ $album.Title }}</h2>
      <p>
        {{ T "photoCount" (.imageCount | lang.FormatNumber 0) }} / {{ time.Format "2 Jan 2006" $album.Date }}
      </p>
    </div>
  </a>
{{ end }}
