FEATURED
{{ range where site.Pages.ByDate.Reverse "Params.featured" "=" true }}
  {{ $gallery := partial "get-album-gallery-card.html" . }}
  {{ $album := . }} 
  {{ with $gallery }}
  <section class="featured">
      <a class="featured-card" href="{{ $album.RelPermalink }}" style="background-color: {{ .color }}; background-image: url({{ .thumbnail.RelPermalink }})">
        <div>
          <h2>{{ $album.Title }}</h2>
          <p>
            {{ if gt $gallery.albumCount 0 }}
              {{ T "albumCount" (dict "count" ($gallery.albumCount | lang.FormatNumber 0) "photoCount" ($gallery.imageCount | lang.FormatNumber 0 | lang.Translate "photoCount")) }}
            {{ else }}
              {{ T "photoCount" ($gallery.imageCount | lang.FormatNumber 0) }} / {{ time.Format "2 Jan 2006" $album.Date }}
            {{ end }}
          </p>
        </div>
      </a>
    </section>
{{ end }}
{{ end }}
