
<style>
img {

  height: auto;
}
</style>

  SINGLE-PHOTO
{{ $pages := (.CurrentSection.Pages.ByParam "Date") }}
{{ with $pages.Prev . }}
  <a href="{{ .RelPermalink }}">Previous</a>
{{ end }}

{{ with $pages.Next . }}
  <a href="{{ .RelPermalink }}">Next</a>
{{ end }}

  {{ range .Resources.ByType "image"  | first 1 }}
   {{ $full := .Filter (slice images.AutoOrient (images.Process "fit 1200x1200")) }} 


    <figure>
      <img class="lazyload" width="{{ $full.Width }}" height="{{ $full.Height }}" data-src="{{ . }}" alt="{{ .Title }}" />
    </figure>
  {{ end }}
